{% extends 'base.html' %}

{% block title %}Book Appointment{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking Form HTML Template</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <!-- Custom stlylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div class="booking-cta">
                            <h1>Book Your Appointment</h1>
                            <p>If You Want The Source Code Of This Website Contact Shahwaiz Muhammad Rafiq Group This Project is Made By Shahwaiz Sufiyan Sarmad Farzam.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7">
                        <div class="booking-form">
                            <form method="post" action="/bookappointment">
                                <div class="form-group">
                                    <span class="form-label">Patient Name</span>
                                    <input class="form-control" type="text" name="name" placeholder="Enter a Patient Name">
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Appointment Date</span>
                                            <input class="form-control" type="date" name="date" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Time</span>
                                            <input class="form-control" type="time" name="time" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Phone Number</span>
                                    <input class="form-control" type="tel" name="phone_number" placeholder="Enter Phone Number" required>
                                </div>
                                <span class="form-label">Select Doctor</span>
                                <select name="doctor" required>
                                    {% for doctor, specialty in doctors.items() %}
                                    <option value="{{ doctor }}">{{ doctor }} - {{ specialty }}</option>
                                    {% endfor %}
                                </select>
                                <div class="form-btn">
                                    <button class="submit-btn">Book Appointment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}
