{% extends 'base.html' %}

{% block title %}Patient Services{% endblock %}

{% block content %}
    <img class="img-service" src="{{ url_for('static', filename='serviceimg.png') }}" alt="Description of the image">
    
    <p class="p5">
        <span class="s5">We offer quality support services for patients to provide ease during their clinical treatment and hospital visits. Patients can request to access their digitalised health records and laboratory and diagnostic reports. We provide financial assistance through our Welfare and Zakat Programmes, and various payment options to help make quality healthcare accessible to all.</span>
    </p>
    <p class="p5">
        <span class="s5">This section is designed to help patients and families get all the information they need when using our services including preparation material for their visit and hospital stay, and details regarding our safety and security policy. It also features reading material on various conditions and healthy living tips as well as information on various patient support groups. You can also learn more about our Specialised Clinics such as the Breast Clinic, Child Learning and Behaviour Clinic, High Risk Maternity Clinic, Type I Diabetes Clinic, Smoking Cessation Clinic, Urinary Incontinence Clinic, and Women's Heart Clinic amongst others.</span>
    </p>
    <p class="p5">
        <span class="s5">You can also learn more about our patient concierge services and information for international patients. We offer various clinical laboratory and executive screening packages to help you monitor your health. For patients who require healthcare support at home, we offer Home Healthcare Services, where our team of highly qualified doctors and nurses can assist patients who are confined to their beds or need palliative care.</span>
    </p>
    <ul class="p5">
        <li><a href="/pakistan/patients-families/Documents/Patient%20Rights%20and%20Responsibilities%20-%2024082020.pdf">Patient Rights and Responsibilities</a></li>
        <li><a href="/Pakistan/patients-families/prepare-for-your-visit/Pages/default.aspx">Prepare for Your Visit</a></li>
        <li><a href="/Pakistan/patients-families/health-packages/Pages/default.aspx">Health Packages</a></li>
        <li><a href="/Pakistan/patients-families/Pages/view-payment-options.aspx">View Payment Options</a></li>
        <li><a href="/pakistan/patients-families/welfare-zakat-assistance/Pages/default.aspx">Welfare and Zakat Assistance</a></li>
        <li><a href="/Pakistan/patients-families/Pages/patient-support-groups.aspx">Patient Support Groups</a></li>
        <li><a href="/Pakistan/patients-families/Pages/patient-referral-and-information-offices.aspx">Patient Referral Office</a></li>
        <li><a href="/pakistan/patients-families/Pages/medical-tourism.aspx">Medical Tourism</a></li>
        <li><a href="/pakistan/patients-families/Pages/international-patients-concierge-services.aspx">For International Patients and Concierge Services</a></li>
        <li><a href="/Pakistan/patients-families/Pages/appreciation-and-complaints.aspx">Appreciation and Complaints</a></li>
    </ul>
{% endblock %}